@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');


:root{
    color: white;
    font-family: "Nunito", sans-serif;
}

