$background-colour: #2d3948aa;

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/fc/01/fc/fc01fcf41d53c4cab99e05c2dcaf848f.gif");
    background-size: 25%;
}

#centre-box{
    $width: 60vw;
    $side-bar-width: $width / 3 - 1;
    $main-box-width: $width * 2 / 3 - 1;
    height: 50vh;

    display: flex;
    justify-content: space-between;
    width: $width;

    #side-bar,#main-box{
        backdrop-filter: blur(.1vw);
        background-color: $background-colour;
        border-radius: .4vw;
    }

    #side-bar{
        width: $side-bar-width;

        
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        font-size: 3vw;

        a{
            text-decoration: none;
            color: white;
            background-color: #3A495Caa;
            transition: all .16s ease;
            backdrop-filter: blur(.1vw);
            border-radius: .4vw;

            padding: {
                left: 1vw;
                right: 1vw;
            };

            &:hover{
                color: #D8B678;
                cursor: pointer;
                background-color: #485a72aa;
            }
            
        }
    }

    #main-box{
        width: $main-box-width;
    }
}