---
import Page from "../layouts/Page.astro";
import Button from "../components/Button.astro";
---

<Page>
    <div id="content">
        <h2>Error 404</h2>
        <Button href="/">Click here to return</Button>
    </div>
</Page>

<style lang="scss">
    #content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>