---
import Layout from "../layouts/Layout.astro";
import Page from "../layouts/Page.astro";
---

<Page>
    <h1>About Me</h1>
    <ul>
        <li>Age: 18</li>
        <li>Gender: F/TFNB</li>
        <li>Pronouns: She/Her</li>
        <li>Hobbies: 
            <ul>
                <li>Games Design</li>
                <li>Bouldering</li>
                <li>Yumeshipping with MM characters 🥵</li>
            </ul>
        </li>
        <li>Favourite Games:
            <ul>
                <li>Minecraft</li>
                <li>Terraria</li>
                <li>Geometry Dash</li>
                <li>Team Fortress 2</li>
                <li>Stardew Valley</li>
                <li>The Legend of Zelda: A Link Between Worlds</li>
            </ul>
        </li>
        <li>Number 1 Meta Menaces Fan 😤 (Don't @ ME)</li>
        <li>You go though simon horton, you go through me 💪😤</li>
    </ul>
</Page>