---
import a from "../components/Button.astro";
import WideWindow from "../components/WideWindow.astro";
import Layout from "../layouts/Layout.astro";
const posts = Object.values(import.meta.glob('./projects/*.mdx', { eager: true }));
---

<Layout title="Gallery">
    <div id="holder">
        <div id="projects">
            {
                posts.map(
                    post => (post as any).frontmatter.download === "yes" ? 
                    <a href={(post as any).frontmatter.url} download><WideWindow>{(post as any).frontmatter.title}</WideWindow></a>
                    : <a href={(post as any).frontmatter.url}><WideWindow>{(post as any).frontmatter.title}</WideWindow></a>
                )
            }
        </div>
    </div>
    
</Layout>

<style lang="scss">
    #holder{
        width: 60em;

        #projects{
            display: grid;
            grid-template-columns: auto auto auto;
            
            
            &>*{
                margin-bottom: 1em;
            }
        }
    }
    
</style>