---
import Page from "../layouts/Page.astro"
import Heading from "../components/heading.astro"
import "../styles/games.scss"
import Game from "../components/games/game.astro"
---

<Page heading="Games">
    <slot> 
        <div id="games">
            <Game name="The Meta Menaces" url="https://github.com/AmyCur/MM_Proj/releases/"/>
            <Game url="https://github.com/AmyCur/MM_Proj/releases/"/>
            <Game url="https://github.com/AmyCur/MM_Proj/releases/"/>
            <Game url="https://github.com/AmyCur/MM_Proj/releases/"/>
            <Game url="https://github.com/AmyCur/MM_Proj/releases/"/>
        </div>
    </slot>
</Page>
