---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <div class="chunk">
        <div class="inner-chunk">
            <a href="/retro">Retro Slop</a>
        </div>
    </div>
    <div class="chunk">
        <div class="inner-chunk">One</div>
    </div>
    <div class="chunk">
        <div class="inner-chunk">One</div>
    </div>
    <div class="chunk">
        <div class="inner-chunk">One</div>
    </div>

    <style lang="scss">
		$curve-radius: 1em;
        
        .chunk {
            display: flex;
            justify-content: center;
            align-items: center;

            .inner-chunk {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18vw;
                background-color: rgba(0, 0, 0, 0.1);
                height: 18vw;
                border-radius: $curve-radius;
            }
        }
    </style>
</Layout>
