---
import Button from "../components/Button.astro";
import Window from "../components/Window.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <Window class="chunk">
        <h1>Hello!</h1>
        <p style="width: 80%;">My name is ___, im a games designer from England currently studying games design</p>
        <Button href="/about-me">About me</Button>
    </Window>
    <Window class="chunk">
        <Button href="/retro">Retro Slop</Button>
    </Window>
    <Window class="chunk">
        <h2>I make games and music</h2>
        <Button href="/gallery">You can find thoses here</Button>
    </Window>
    <Window class="chunk">
        <a href="https://carseatheadrest.bandcamp.com/album/twin-fantasy" style="height: 90%; display: flex; justify-content: center; ">
            <iframe style="border: 0; border-radius: 1em; width: 90%;" src="https://bandcamp.com/EmbeddedPlayer/album=357879300/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless />
        </a>
    </Window>
</Layout>

