---
import Page from '../layouts/Page.astro';
import Heading from '../components/heading.astro';
import SmallText from '../components/small-text.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Page>
    <span slot="heading"><Heading>Home</Heading></span>
    <span slot="top">            
        <p>
            Hi my names Amy<SmallText>(She/Her)</SmallText>, im a games 
            developer from England who enjoys making 
            games and theming her linux <SmallText>(Arch btw)</SmallText>
        </p>

        <p>
            This page is just a passion project ive been working 
            on, the buttons do stuff ig 
        </p>
    </span>
    <span slot="other" id="flags">
        <div class="tooltip" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Transgender_Pride_flag.svg/800px-Transgender_Pride_flag.svg.png);">
            <span class="tooltiptext">Trans woman</span>
        </div>

        <div class="tooltip" style="background-image: url(https://mrflag.com/wp-content/uploads/2022/02/mrflag_omnisexual_152_91.jpg);">
            <span class="tooltiptext"><a href="https://lgbtqia.fandom.com/wiki/Omnisexual">Omnisexual</a></span>
        </div>
    </span>   
</Page>