---
import Button from "../components/Button.astro";
import RandomText from "../components/RandomText.astro";
import Tooltip from "../components/Tooltip.astro";
import Window from "../components/Window.astro";
import Layout from "../layouts/Layout.astro";
import Page from "../layouts/Page.astro";
---

<Page>
    <h1>Welcome to my amazing website!!!</h1>

    <h3>My name is [$NAME] (F/TFNB 18)</h3>
    I'm a games designer from England who is very into
    <Tooltip tooltip="Favourite Song: [Unnamed 02] OFC">
        <RandomText
            normal="Car Seat Headrest."
            random="Car Seat Head Sweat."
        />
    </Tooltip>
    This website was made as a fun project to make something cool and to
    show off all of the amazeballs things I've made. You can navigate though
    the wesite by using the top-bar
</Page>

