---
import Layout from "../layouts/Layout.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Retro">
    <div id="content">
        <marquee
            direction="down"
            width="250"
            height="200"
            behavior="alternate"
            class="outlined">
            <marquee behavior="alternate">
                <img src="baby.gif" alt="">

            </marquee>
        </marquee>
                <marquee
            direction="down"
            width="250"
            height="200"
            behavior="alternate"
            class="outlined">
            <marquee behavior="alternate">
                <img src="baby.gif" alt="">

            </marquee>
        </marquee>
    </div>
</Page>

<style lang="scss">
    #content{
      
        min-width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        marquee{
            width: 40vw;
            height: max-content;
        }
        

        img{
            margin-top: 3em;
            margin-bottom: 3em;
            width: 30vw;
        }

    }
</style>