---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Retro">
    <div id="content">
        <img src="https://media.discordapp.net/attachments/1078450302350524488/1130228198597206046/1078728822972764312-123c39a3-423a-4e6e-abd6-1fbcc99e0c95-2185817.700000018.gif?ex=698ae649&is=698994c9&hm=ded22b4f8244ec6d18da8e8611bc1bfae2948fc46a5557ab236de09d625bf5d1&=" alt="">
    </div>
</Layout>

<style lang="scss">
    #content{
        background-color: rgba(0, 0, 0, 0.1);
        min-width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        

        img{
            margin-top: 3em;
            margin-bottom: 3em;
            width: 30vw;
        }

    }
</style>