<html>

<head>
        <title>woody chuck</title>
</head>
        <h1>Welcome to woody chuck!!!</h1>
        <h2>Oak wood</h2>
	<p>English oak is a large deciduous tree up to 20-40m tall. In England, the English oak has assumed the status of a national emblem. As common oaks mature they form a broad and spreading crown with sturdy branches beneath. Their open canopy enables light to penetrate through to the woodland floor, allowing bluebells and primroses to grow below. Their smooth and silvery brown bark becomes rugged and deeply fissured with age. Oak tree growth is particularly rapid in youth but gradually slows at around 120 years. Oaks even shorten with age in order to extend their lifespan..Leaves: around 10cm long with 4-5 deep lobes with smooth edges. Leaf-burst occurs mid-May and the leaves have almost no stem and grow in bunches. 

Flowers: are long yellow hanging catkins which distribute pollen into the air.

Fruits: its fruit, commonly known as acorns, are 2–2.5cm long, borne on lengthy stalks and held tightly by cupules (the cup-shaped base of the acorn). As it ripens, the green acorn takes on a more autumnal, browner colour, loosens from the cupule and falls to the canopy below.

Most acorns will never get the chance to germinate, they are rich food source, eaten by many wild creatures including jays, mice and squirrels. Acorns need to germinate and root quickly to prevent drying out or becoming victims of the harvest. Following successful germination, a new sapling will appear the following spring.

Look out for: it has distinctive lobed leaves with short leaf stalks (petioles). Leaf lobes are rounded.

Could be confused with: sessile oak (Quercus petraea). English oak has acorns on stalks (or peduncles) whereas sessile oak does not.

Identified in winter by: rounded buds are in clusters. Each bud has more than three scales.</p>

<a href="page2.html">Go to page 2</a>


<body>

</body>

</html>