---
const {href} = Astro.props;
---

<a href={href}>
    <slot />
</a>

<style lang="scss">
    a{
        background-color: rgba(0,0,0,0.1);
        color: white;
        width: fit-content;
        height: fit-content;
        padding: .5em;
        border-radius: .1em;
        transition: background-color .1s ease;
        text-decoration: none;

        &:hover{
            background-color: rgba(0,0,0,0.3);
        }
    }
</style>